/*
Theme Name: Retrotube Child Theme
Theme URI: http: //tube.com
Description: Day la child theme cua retrotube , [list_post_shortcode web="http://localhost:8888/tube" cat_id=5]
Author: Tube
Author URI: https://tube.com
Template: retrotube
Version: 0.1
*/

/* Fix Native WordPress Youtube blocks */
.wps-player-block {
    padding-bottom: 56.25%;
    height: 0;
}

.wps-player__happy-inside-btn-close,
.video-js .vjs-play-progress,
.video-js .vjs-control-bar .vjs-button:hover,
.video-js .vjs-volume-level,
.vjs-menu li.vjs-selected, .vjs-menu li.vjs-selected:focus, .vjs-menu li.vjs-selected:hover, .js-focus-visible .vjs-menu li.vjs-selected:hover {
    background-color: #FF3565 !important;
}

.wps-player__happy-inside-btn-close {
    border-color: #FF3565 !important;
}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus,
.fluid_initial_play:hover {
    -webkit-box-shadow: 0px 0px 40px 5px #FF3565; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 40px 5px #FF3565; /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 40px 5px #FF3565; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.lds-double-ring {
    position: relative;
}

.lds-double-ring div {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    border-color: #FF3565 transparent #FF3565 transparent;
    -webkit-animation: lds-double-ring 1.3s linear infinite;
    animation: lds-double-ring 1.3s linear infinite;
}

.lds-double-ring div:nth-child(2) {
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    border-color: transparent #ffffff transparent #ffffff;
    -webkit-animation: lds-double-ring_reverse 1.3s linear infinite;
    animation: lds-double-ring_reverse 1.3s linear infinite;
}

.lds-double-ring {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(1) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(1) translate(50px, 50px);
}

